## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
nupkg/

## IDE
.idea/
.idea.*/
.vs/
*.DotSettings.user
*.sln.DotSettings.user

## OS
.DS_Store
Thumbs.db

## Test / coverage
TestResults/
coverage/
*.coverage
*.coveragexml
